@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&display=swap');

.sidebar {
  flex: 1;
  height: auto;
  background-color: #9f8c6b;
  margin-top: 1rem;
  margin-left: 0.5rem;
  border-radius: 10px;
  border: 3px solid #44240d;

  .top {
    height: 35px;
    margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
  text-align: center; /* Center text horizontally */

    span {
      margin-top: 10px;
      font-family: "Briem Hand", cursive;
      font-size: 30px;
      font-weight: bold;
      color: #44240d;
    }
  }


  .center {
    padding-left: 10px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 15px;
        font-weight: bold;
        color: #44240d;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 10px;
        margin-top: 1rem;
        cursor: pointer;

        &:hover {
          background-color: #00000021;
        }

        .icon {
          font-size: 30px;
          color: #44240d;
        }

        span {
          font-size: 20px;
          font-weight: 600;
          color: #44240d;
          padding: 10px;
          margin-left: 10px;
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    margin: 10px;
    margin-top: 35rem; /* Adjust this as needed */
    margin-left: 13rem; /* Adjust this as needed */

    .colorOption {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid #7451f8;
      cursor: pointer;
      margin: 5px;
    }

    .colorOption:nth-child(1) {
      background-color: whitesmoke;
    }

    .colorOption:nth-child(2) {
      background-color: #333;
    }

    .colorOption:nth-child(3) {
      background-color: darkblue;
    }
  }
}
